<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Salmanova41Entities" connectionString="metadata=res://*/SalmanovaModel.csdl|res://*/SalmanovaModel.ssdl|res://*/SalmanovaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO-IDEAPAD-;initial catalog=Salmanova41;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>